html {
  background-color: #EAE7DC;
  color: #E98074;
  font-family: sans-serif;
  min-height: 90%;
  position: relative;
}

html.dark {
  background-color: #272727;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 80ch;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  min-height: 98vh;
}

.content {
  flex: 1;
}

footer {
  text-align: center;
  color: #272727;
  height: 5rem;
  width: 71%;
  max-width: 80ch;
  position: absolute;
  bottom: 0;
  background-color: #EAE7DC;
  padding-top: 1rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #E85A4F;
}
  
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #D8C3A5;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
      display: none;
  }
  

}