---
import '../styles/global.css';
---

<layout>
    <div class="lost">
        <h1 class="lost__header">404</h1>
        <p class="lost__body">This page does not exist!</p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</layout>