---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me"

const identity = {
    firstName: "Jonah",
    lastName: "Gräfe",
    country: "Germany",
    degreeProgram: "Data Science, AI and Intelligent Systems BSc.",
    eMail: "jonah.graefe@study.hs.duesseldorf.de",
    birthday: "21.07.2002",
}

const personal_data = [
    ["Name", identity.firstName + ' ' + identity.lastName],
    ["E-Mail", identity.eMail],
    ["Birthday", identity.birthday],
    ["Home country", identity.country],
    ["Degree program", identity.degreeProgram]
]

const career = [
    ["03/2024 - now", "Student assistant at the University of Applied Sciences Düsseldorf"],
    ["03/2024 - 07/2024", "Internship at Aptiv in Wuppertal, Germany"],
    ["03/2024 - 07/2024", "Internship at eekual bionic GmbH"],
    ["09/2023 - 02/2024", "Tutor at the University of Applied Sciences Düsseldorf"],
    ["05/2023 - 08/2023", "Student assistant at the University of Applied Sciences Düsseldorf"]
]

const education = [
    ["09/2022 - now", "University of Applied Sciences Düsseldorf - Data Science, AI and Intelligent Systems BSc."],
    ["10/2020 - 08/2022", "University Münster - Mathematics studies"],
    ["08/2012 - 06/2020", "Joseph-Haydn-Gymnasium Senden - Abitur (Grade: 1.9)"]
]

const volunteer = [
    ["12/2023 - now", "Volunteer in Oxfam store"],
    ["11/2019", "Participation in the QUA-LIS NRW competence check for school theater"],
    ["10/2019", "Volunteering for the Sparkassen Münsterland Giro 2019"],
    ["03/2019 - 10/2019", "Participation in the first round of the 31st International Biology Olympiad"],
    ["10/2018 - 04/2019", "Participation in a 'integrated financial management' working group"],
    ["09/2017 - 06/2018", "Supervision of the 'Kinder-Uni' in Senden"]
]

const knowledge = {
    language: [
        ["German (mother tongue)"],
        ["English (very good)"],
        ["Latin (Latinum)"]
    ]
}

const hobbies = ["Programming", "Chess", "Weight training"]
---

<BaseLayout pageTitle={pageTitle}>
    <img src="/me.jpg" height="170" style="float: right">

    <a href="/cv.pdf">View my resume as PDF</a>
    
    <section id="personal_data">
        <h2>Personal data</h2>
        <ul>
            {personal_data.map((item, index) => (<li>{item.join(": ")}</li>))}
        </ul>
    </section>

    <section id="career">
        <h2>Career💼</h2>

        <ul>
            {career.map((item, index) => (<li>{item.join(": ")}</li>))}
        </ul>

    </section>

    <section id="education">
        <h2>Education📚</h2>
        <ul>
            {education.map((item, index) => (<li>{item.join(": ")}</li>))}
        </ul>
    </section>

    <section id="volunteer">
        <h2>Volunteer and additional activities🙋‍♂️</h2>

        <ul>
            {volunteer.map((item, index) => (<li>{item.join(": ")}</li>))}
        </ul>


    </section>

    <section id="skills">
        <h2>Skills👨‍💻</h2>
        <p><strong>Languages:</strong></p>
        <ul>
            {knowledge.language.map((item, index) => (<li>{item.join(": ")}</li>))}
        </ul>
        <p><strong>Programming languages:</strong></p>
        <div class="skills">
            <img class="skills__img" width="46" height="46" title="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
            <img class="skills__img" width="46" height="46" title="Javaskript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
            <img class="skills__img" width="46" height="46" title="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"/>
        </div>
        <p><strong>Python libraries:</strong></p>
        <div class="skills">
            <img class="skills__img" width="46" height="46" title="NumPy" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/numpy/numpy-original.svg"/>
            <img class="skills__img" width="46" height="46" title="Pandas" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pandas/pandas-original.svg"/>
            <img class="skills__img" width="46" height="46" title="Matplotlib" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matplotlib/matplotlib-original.svg"/>
            <img class="skills__img" width="46" height="46" title="PyTorch" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytorch/pytorch-original.svg"/>
            <img class="skills__img" width="46" height="46" title="Scikit-learn" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/scikitlearn/scikitlearn-original.svg"/>

        </div>
        <p><strong>Other skills:</strong></p>
        <div class="skills">
            <img class="skills__img" width="46" height="46" title="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
            <img class="skills__img" width="46" height="46" title="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
            <img class="skills__img" width="46" height="46" title="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
            <img class="skills__img" width="46" height="46" title="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"/>
            <img class="skills__img" width="46" height="46" title="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"/>
            <img class="skills__img" width="46" height="46" title="LaTeX" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/latex/latex-original.svg"/>
            <img class="skills__img" width="46" height="46" title="Oracle SQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/oracle/oracle-original.svg"/>
            <img class="skills__img" width="46" height="46" title="MATLAB" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matlab/matlab-original.svg"/>
        </div>
    </section>

    <section id="hobbies">
        <h2>Hobbies and interests♟</h2>
        <ul>
            {hobbies.map((item) => (<li>{item}</li>))}
        </ul>
    </section>
</BaseLayout>


