---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Hi, I'm Jonah ☕"
---
<BaseLayout pageTitle={pageTitle}>
  <p>I am currently a student of Data Science and AI and live in Düsseldorf, Germany.
    I am interested in everything related to software development, machine learning and 
    other nerdy topics.
  </p>
  <h2>Projects</h2>
  <ul>
    <li><a href={`https://github.com/Jonah-gr/PyTorch-emotion-detection`}> PyTorch Emotion Detector </a></li>
    <li><a href={`https://github.com/heyitsalina/ant_search_algorithm`}> Ant Search Algorithm </a></li>
  </ul>
</BaseLayout>