---
import Social from './Social.astro';
---


<footer>
    <Social platform="github" username="Jonah-gr" />
    <Social platform="kaggle" username="jonah17" />
    <p>&copy; 2024 Jonah Gräfe. All rights reserved.</p>
</footer>