---
import Social from './Social.astro';
---


<footer>
    <Social platform="github" username="Jonah-gr" />
    <p>&copy; 2024 Jonah Gräfe. All rights reserved.</p>
</footer>
<style>
    p {
        background-color: #EAE7DC;
    }
</style>