---
const year = new Date().getFullYear();
---


<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/Jonah-gr" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://www.kaggle.com/jonah17" target="_blank"><span class="kaggle-icon">Kaggle</span></a></li>
        </ul>
        <small>&copy; {year} Jonah Gräfe. All Rights reserved.</small>
    </div>
</footer>