---
import Social from './Social.astro';
const year = new Date().getFullYear();
---


<footer>
    <div class="center">
        <ul class="footer">
            <Social platform="github" username="Jonah-gr" />
            <Social platform="kaggle" username="jonah17" />
        </ul>
        <small>&copy; {year} Jonah Gräfe. All rights reserved.</small>
    </div>
</footer>