---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<script>
  function change_background() {
    let lastScrollTop = 0;
    let currentScrollTop = window.pageYOffset || document.documentElement.scrollTop;

    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.nav-links');

    function isHamburgerVisible() {
      const hamburgerStyle = window.getComputedStyle(hamburger);
      
      return hamburgerStyle.display === 'none';
}

    if (currentScrollTop > lastScrollTop && isHamburgerVisible()) {
      document.getElementById('header').style.backgroundImage = "url(../images/wave.svg)"
    } else if (currentScrollTop === 0){
      document.getElementById('header').style.backgroundImage = "";
    }
  }

  window.addEventListener("scroll", change_background);
</script>

<header id="header">
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>

<style>
  header {
    width: 720px;
    height: 160px;
    background-size: cover;
  }
</style>
