---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<script>
  function change_background() {
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.nav-links');

    const hamburgerStyle = window.getComputedStyle(hamburger);
    const navStyle = window.getComputedStyle(navLinks);

    function isHamburgerVisible() {
      return hamburgerStyle.display !== 'none';
    }

    function isNavOpen() {
      return navStyle.display !== 'none';
    }

    if (isNavOpen() && isHamburgerVisible()) {
      document.getElementById('header').style.height = '250px'
      document.getElementById('header').style.backgroundColor = 'black';
      // navStyle.backgroundColor = 'black';

    } else {
      document.getElementById('header').style.backgroundColor = '';
      document.getElementById('header').style.height = '30px'
    }
  }

  window.addEventListener('resize', change_background);
  window.addEventListener('click', change_background);
</script>

<header id="header">
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>