<div class="nav-links">
    <a href="/">Home</a>
    <a href="/cv">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags">Tags</a>
</div>
<style>
    a:hover {
        box-shadow: 0 0 5px #D8C3A5, 0 0 25px #D8C3A5,
        0 0 50px #D8C3A5, 0 0 200px #D8C3A5;
    }
</style>
