---
import { Icon } from "astro-icon/components"

const { platform, username} = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}> <Icon name={platform}/></a>
<style>
    a {
      padding: 0.5rem 1rem;
      font-size: 2rem;
      text-decoration: none;
    }

    [data-icon]{
      transition: all .2s ease-in-out;
    }

    [data-icon]:hover{
      transform: scale(1.2);
    }
</style>